---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Card2 from '../components/Card2.astro';
---

<Layout title="BMI Calculator.">
	<main>
		<div class="container">
			<div class="row1">
				<img src="images/logo.svg" alt="logo">
			</div>
			<div class="row2">
				<img src="images/image-man-eating.webp" alt="man eating">
				<div class="texto">
					<h1>What your BMI result means</h1>
					<p>A BMI range of 18.5 to 24.9 is considered a 'healthy weight.' Maintaining a 
						healthy weight may lower your chances of experiencing health issues later on, 
						such as obesity and type 2 diabetes. Aim for a nutritious diet with reduced 
						fat and sugar content, incorporating ample fruits and vegetables. Additionally, 
						strive for regular physical activity, ideally about 30 minutes daily for 
						five days a week.</p>
				</div>
			</div>
			<div class="row3">
				<Card 	title="Healthy eating"
						body="Healthy eating promotes weight control, disease prevention, better digestion, immunity, mental clarity, and mood."
						icon="images/icon-eating.svg"
						/>
				<Card 	title="Regular exercise"
						body="Exercise improves fitness, aids weight control, elevates mood, and reduces disease risk, fostering wellness and longevity."
						icon="images/icon-exercise.svg"
						/>
				<Card 	title="Adequate sleep"
						body="Sleep enhances mental clarity, emotional stability, and physical wellness, promoting overall restoration and rejuvenation."
						icon="images/icon-sleep.svg"
						/>
			</div>
			<div class="row4">
				<div class="title">
					<h3>Limitations of BMI</h3>
					<p>Although BMI is often a practical indicator of healthy weight, it is not suited for every person. Specific groups should carefully consider their BMI outcomes, and in certain cases, the measurement may not be beneficial to use.</p>
				</div>
				<Card2 	title="Gender"
						body="The development and body fat composition of girls and boys vary with age. Consequently, a child's age and gender are considered when evaluating their BMI."
						icon="images/icon-gender.svg"
						/>
				<Card2 	title="Age"
						body="In aging individuals, increased body fat and muscle loss may cause BMI to underestimate body fat content."
						icon="images/icon-age.svg"
						/>
				<Card2 	title="Muscle"
						body="BMI may misclassify muscular individuals as overweight or obese, as it doesn't differentiate muscle from fat."
						icon="images/icon-muscle.svg"
						/>
				<Card2 	title="Pregnancy"
						body="Expectant mothers experience weight gain due to their growing baby. Maintaining a healthy pre-pregnancy BMI is advisable to minimise health risks for both mother and child."
						icon="images/icon-pregnancy.svg"
						/>
				<Card2 	title="Race"
						body="Certain health concerns may affect individuals of some Black and Asian origins at lower BMIs than others. To learn more, it is advised to discuss this with your GP or practice nurse."
						icon="images/icon-race.svg"
						/>
			</div>
		</div>
		
	</main>
</Layout>

<style>
	main {
		display: flex;
		justify-content: center;
	}
	div.container {
		width: 1440px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	div.row2 {
		width: 1160px;
		display: flex;
		justify-content: space-between;
		padding: 75px 0px;
	}
	div.row2 img {
		width: 564px;
		height: 533px;
	
	}
	div.row2 div.texto {
		width: 465px;
		font-size: 16px;
		font-weight: 400;
		line-height: 150%; /* 24px */
		color: var(--Dark-Electric-Blue);
		display: flex;
		flex-direction: column;
		gap: 35px;
		justify-content: flex-end;
		padding: 35px 0px;
	}
	div.row2 div.texto h1{
		font-size: 48px;
		font-weight: 800;
		line-height: 110%; /* 52.8px */
		letter-spacing: -2.4px;
	}

	div.row3 {
		width: 1392px;
		display: flex;
		justify-content: center;
		padding: 72px 0px;
		gap: 32px;
		border-radius: 35px;
		border-radius: 35px;
		background: var(--Gradient-1, linear-gradient(290deg, #D6E6FE 0%, rgba(214, 252, 254, 0.00) 100%));
	}
	div.row4 {
		width: 1160px;
		padding: 75px 0px;
		display: flex;
		gap: 35px;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	div.row4 div.title {
		width: 564px;
		display: flex;
		flex-direction: column;
		gap: 35px;
		padding: 32px;
	}
	div.row4 div.title h3 {
		color: var(--Gunmetal);
		/* Heading L */
		font-family: Inter;
		font-size: 48px;
		font-style: normal;
		font-weight: 600;
		line-height: 110%; /* 52.8px */
		letter-spacing: -2.4px;
	}
	div.row4 div.title p {
		color: var(--Dark-Electric-Blue);
		/* Body M */
		font-family: Inter;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
line-height: 150%; /* 24px */
	}
</style>
