---
interface Props {
	title: string;
	body: string;
	icon: string;
}

const { title, body, icon } = Astro.props;
---

<div class="card">
    <img src={ icon } alt = { icon }>
    <h3> { title }</h3>
    <p> { body } </p>
</div>

<style>
    .card {
        width: 365px;
        padding: 32px;
        border-radius: 16px;
        box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        padding: 32px;
        gap: 32px;
    }
    .card h3 {
        color: var(--Gunmetal);
        /* Heading S */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -1px;
    }
    .card p {
        color: var(--Dark-Electric-Blue, #5E6E85);
        /* Body M */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
    }
</style>
